@use "../../utils" as *;

/*----------------------------------------*/
/*  3.2.4 Recent Post css
/*----------------------------------------*/

.rc-post-wrap {
    .rc-post {
        display: flex;
        align-items: center;
        gap: 18px;
        border-bottom: 1px solid var(--color-border-primary);
        padding-bottom: 20px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .rc-post-thumb {
        width: 80px;
        min-width: 80px;
        height: 80px;
        border-radius: 4px;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
        }
    }

    .rc-post-title {
        font-size: 18px;
        font-family: var(--font-body);
        color: var(--color-theme-black);
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--color-primary);
        }
    }

    .rc-post-meta {
        margin-bottom: 6px;
        color: rgba($color: $black-light, $alpha: .60);
        font-size: 14px;
        font-weight: var(--fw-semibold);
    }
}